.DS_Store
/classes/Operation.class
/classes/Term.class
/classes/NewtonianApp.class
/classes/NewtonRaphsonApp.class
/classes/About.class
/classes/StartValueSelection.class
/classes/InputVerification.class
/classes/Equation.class
/classes/InfixToPostfix.class
/classes/KeyMapping.class
/classes/PostfixEvaluater.class
/classes/Settings.class
/classes/Variable.class